/* ======================================================================== */
/* article.html, article-2.html stylesheet */

/* body 1 */
.body-1 {
  padding-top: 2rem;
}
.banner {
  margin: 0px;
  padding: 0px;
  aspect-ratio: 1.5/1;
}

.image-caption {
  margin: 0.4rem 0;
  font-size: 0.75rem;
  font-style: italic;
}

.article-content p{
    letter-spacing: .25px;
}

article .line-thin {
  margin-bottom: 2rem;
}

/* drop cap, if supported */
@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  .article-content > p:nth-of-type(2)::first-letter{
    color: var(--nl-color-tertiary);
    opacity: 0.95;
    font-weight: bold;
    margin-right: 0.25rem;

    -webkit-initial-letter: 2;
    initial-letter: 2;
  }
}

/* ======================================================================== */
/* body 2 */
.body-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.body-title {
  position: relative;
  text-align: left;
}
.body-title:before {
  content: "";
  display: block;
  border-top: solid 3px var(--nl-color-quaternary);
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;

  /* left and right margin */
  margin-left: 0;
  width: calc(100%);
}
.body-title span {
  position: relative;
  z-index: 1;
  background: var(--nl-background-color-darker);
  /* text padding */
  padding: 0 1rem 0 0;
}
.big-row-article {
  display: flex;
}
.big-row-article .image-wrapper {
  max-width: 35%;
}
.big-row-article .image-wrapper a {
    display: flex;
}
.big-row-article .image-wrapper a img {
    object-fit: cover;
    aspect-ratio: 3 / 2;
    width: 100%;
}
.big-row-article p {
  margin: 0;
  padding: 0 0 0.5rem 0.5rem;
}

.content-title {
  font-weight: bold;
}
