/* ======================================================================== */
/* index.html stylesheet */

/* body 1 */
.banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align:center;
}
.banner-wrapper h2{
  font-size: 1rem;
  font-weight: bold;
}
.banner-wrapper h2, p{
  margin: 0.5rem 0 0 0;
}
.banner-wrapper .text-color{
  display: none;
}
.body-title {
  position: relative;
  text-align: center;
}
.body-title:before {
  content: "";
  display: block;
  border-top: solid 3px var(--nl-color-quaternary);
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;
  /* left and right margin */
  margin-left: 0;
  width: calc(100%);
}
.body-title span {
  position: relative;
  z-index: 1;
  background: var(--nl-background-color-darker);
  /* text padding */
  padding: 0 1.5rem;
}

/* ======================================================================== */
.showcase-layout {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
/* body articles */
.big-row-article {
  display: flex;
}
.big-row-article .image-wrapper {
  max-width: 50%;
}
.big-row-article .image-wrapper a {
  display: flex;
}
.big-row-article .image-wrapper a img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}
.big-row-article p {
  margin: 0;
  padding: 0 0 0.5rem 0.5rem;
}

.row-article {
  display: flex;
}
.row-article .image-wrapper {
  max-width: 30%;
}
.row-article .image-wrapper a {
  display: flex;
}
.row-article img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}
.row-article p {
  margin: 0;
  padding: 0 0 0.5rem 0.5rem;
}
.content-title {
  font-weight: bold;
}
.line-1 {
  margin-top: 1.5rem;
}

/* ======================================================================== */
/* body 2 */
.body-2{
  padding-bottom:2rem;
}
.body-podcast {
  overflow: hidden;
  border-style: none;
}
.body-podcast img {
  width: calc(100% - 2rem);
  margin: 0 1rem;
}
.body-podcast .feature-podcast *{
  margin:0;
  margin-top: 0.75rem;
  padding: 0;
}
.body-podcast iframe {
  width: 100%;
  height: 50px;
}
.body-podcast h1 {
  color: #dbd6d0;
}
.body-podcast p {
  font-size: 0.75rem;
  color: #bdbaac;
}
.button {
  color: #dbd6d0;
}
.body-podcast .title-podcast{
  display: flex;
  justify-content:space-between;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

}
.body-podcast .title-podcast h1 {
  margin-bottom: 0;
}
.body-podcast .title-podcast p {
  margin: 0.5rem 0;
}

/* ======================================================================== */
.load-more-stories{
  padding-top: 1rem;
}

/* button "load more stories */
.button-lms {
  color: var(--nl-color-text);
  background-color: var(--nl-color-primary);
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none #000000 solid;
  width: 100%;
}
.hidden{
  display: none;
}

/* ======================================================================== */
/* desktop view 600px */
@media screen and (min-width: 600px) {
  /* body 1: shrink into grid */
  .banner-wrapper h2{
    font-size: 20px;
  }
  .showcase-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-auto-flow: dense;
    gap: 1rem;
  }
  .showcase-layout .line-thin{
    display: none;
  }
  .showcase-layout .big-row-article{
    display: grid;
    grid-column: 1 / 3;
    align-items: end;
  }
  .showcase-layout .big-row-article .content{
    padding-top: 0.5rem;
    background-color: rgba(var(--nl-color-article), 0.85);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .showcase-layout .big-row-article .content:hover{
    background-color: rgba(var(--nl-color-article), 1);
  }
  .showcase-layout .big-row-article .image-wrapper{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width:100%;
  }
  .showcase-layout .big-row-article .image-wrapper a img{
    aspect-ratio: 2/1;
  }
  
  .showcase-layout .row-article{
    display: grid;
    grid-column: auto;
    align-items: end;
    /* background-color: rgba(var(--nl-color-article), 0.90); */
  }
  .showcase-layout .row-article .content{
    padding-top: 0.5rem;
      background-color: rgba(var(--nl-color-article), 0.85);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .showcase-layout .row-article .content:hover{
    background-color: rgba(var(--nl-color-article), 1);
  }
  .showcase-layout .row-article .image-wrapper{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 100%;
    height: 100%;
  }
  .showcase-layout .row-article img{
    aspect-ratio: 0.976/1;
    object-fit: cover;
  }

  /* ======================================================================== */
  /* body 2: change to horizontal */
  .body-podcast{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 1rem 0;
  }
  .body-podcast .title-podcast{
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:center;
    text-align:end;
    /* feely margin, maybe move to 768 */
    margin-right:0.1rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  .body-podcast .title-podcast h1{
    margin-top: 0;
  }
  .body-podcast a{
    width:50%;
  }
  .body-podcast .feature-podcast {
    width:50%;
  }
}

/* ======================================================================== */
/* desktop view 768px */
@media screen and (min-width: 768px) {
  /* body 1 change banner contents */
  .banner-wrapper .text-color{
    display: block;
    font-size:1rem;
  }
  .banner-wrapper h2{
    font-size: 24px;
  }
  /* body 2: podcast adjustments */
  .body-podcast {
    margin: 0 1rem;
  }
  .body-podcast a{
    width:40%;
    margin: 0 1rem;
  }
  .body-podcast .title-podcast{
    font-size: 1.32rem;
    margin-top: 0.5rem;
  }
  .body-podcast .title-podcast p{
    font-size: 1rem;
  }
  /* button  */
  .button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }
  .button-lms {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}