/* ======================================================================== */
/* news.html stylesheet */

/* body 1 */
.page-start {
  text-align: center;
}
.page-start .line-thick {
  margin: 1.5rem 0;
}

/* showcase layout  */
.showcase-layout {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

/* body articles */
.big-row-article {
  display: flex;
}
.big-row-article .image-wrapper {
  max-width: 50%;
}
.big-row-article .image-wrapper a {
  display: flex;
}
.big-row-article .image-wrapper a img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}
.big-row-article p {
  margin: 0;
  padding: 0 0 0.5rem 0.5rem;
}
.row-article {
  display: flex;
}
.row-article .image-wrapper {
  max-width: 30%;
}
.row-article .image-wrapper a {
  display: flex;
}
.row-article .image-wrapper a img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}
.row-article p {
  margin: 0;
  padding: 0 0 0.5rem 0.5rem;
}
.content-title {
  font-weight: bold;
}

/* ======================================================================== */
/* body 2 */
.body-2 {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.body-title {
  position: relative;
  text-align: left;
}
.body-title:before {
  content: "";
  display: block;
  border-top: solid 3px var(--nl-color-quaternary);
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;
  /* left and right margin */
  margin-left: 0;
  width: calc(100%);
}
.body-title span {
  position: relative;
  z-index: 1;
  background: var(--nl-background-color-darker);
  /* text padding */
  padding: 0 1rem 0 0;
  font-weight: bold;
}

/* ======================================================================== */
/* featured stories layout*/
.showcase-featured{
  display: flex;
  flex-direction: column;
}
.featured-article {
  display: grid;
  align-items:end;
}
.featured-article .image-wrapper {
  grid-row: 1/2;
  grid-column: 1/2;
}
.featured-article .image-wrapper a {
  display: flex;
}
.featured-article .image-wrapper a img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 1.5;
}
.featured-article .featured-content {
  grid-row: 1/2;
  grid-column: 1/2;
  padding-top: 0.75rem;
  background-color: rgba(var(--nl-color-article), 0.85);
}
.featured-content:hover{
  background-color: rgba(var(--nl-color-article), 1);
}
.featured-article p {
  margin: 0;
  padding: 0 0 0.5rem 0.5rem;
}

.load-more-stories{
  padding-top: 1rem;
}

/* button "load more stories */
.button-lms {
  color: var(--nl-color-text);
  background-color: var(--nl-color-primary);
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none #000000 solid;
  width: 100%;
}
.hidden{
  display: none;
}

/* ======================================================================== */
/* desktop view 600px */
@media screen and (min-width: 600px) {
  /* body 1: shrink into grid */
  .showcase-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-auto-flow: dense;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .showcase-layout .line-thin {
    display: none;
  }
  .showcase-layout .big-row-article {
    display: grid;
    grid-column: 1 / 4;
    align-items: end;
  }
  .showcase-layout .big-row-article .content {
    padding-top: 0.5rem;
    background-color: rgba(var(--nl-color-article), 0.85);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .showcase-layout .big-row-article .content:hover{
    background-color: rgba(var(--nl-color-article), 1);
  }
  .showcase-layout .big-row-article .image-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 100%;
  }
  .showcase-layout .big-row-article .image-wrapper a img {
    aspect-ratio: 2/1;
    object-position: 50% 45%;
  }
  .showcase-layout .row-article {
    display: grid;
    grid-column: auto;
    align-items: end;
    /* background-color: rgba(var(--nl-color-article), 0.90); */
  }
  .showcase-layout .row-article .content {
    padding-top: 0.5rem;
    background-color: rgba(var(--nl-color-article), 0.85);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .showcase-layout .row-article .content:hover{
    background-color: rgba(var(--nl-color-article), 1);
  }
  .showcase-layout .row-article .image-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 100%;
    height: 100%;
  }
  .showcase-layout .row-article .image-wrapper a img {
    aspect-ratio: 0.976/1;
    object-fit: cover;
  }
}

/* ======================================================================== */
/* desktop view 768px */
@media screen and (min-width: 768px) {
  /* body 2 */
  .showcase-featured{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .showcase-featured .line-thin{
    display: none;
  }
  .button-lms {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}