body{
    background-attachment: fixed;
    background-image: radial-gradient(circle at 96% 96%,#0e283a,#0d1727 43%,#121212 73%);
}

/* body 1 */
.body-1{
    padding: 2rem 0;
}
.page-start {
  text-align: center;
  margin-top: 2rem;
}
.page-start .line-thick {
  margin: 1.5rem 0;
}

/* body 2 */
.body-podcast {
    overflow: hidden;
    border-style: none;
}
.body-podcast img {
width: calc(100% - 2rem);
margin: 0 1rem;
}
.body-podcast .feature-podcast {
margin: 0;
padding: 0;
}
.body-podcast .feature-podcast iframe {
width: 100%;
height: 200px;
}
.body-podcast p {
padding: 0 1rem;
font-size: 0.75rem;
}

/* body 2 */
.podcast{
    padding-top: 2rem;
    /* font-style:italic; */
}
.podcast-genre{
    padding: 2rem 0;
}
.podcast-genre h1{
    margin: 1rem 0;
}
.podcast-genre p{
    color:var(--nl-color-text-light);
}

.podcast .podcast-description{
    padding: 0 1rem;
    font-size: 0.75rem;
    color:var(--nl-color-text-light);
}