/* body 1 */
.body-1{
    /* margin-bottom:2rem; */
}
.page-start {
  text-align: center;
  margin-top: 2rem;
}
.page-start .line-thick {
  margin: 1.5rem 0;
}
.featured-podcast img{
    width:calc(100% - 2rem);
    padding: 0 1rem;
}

/* body 2 */
.body-2{
    margin-top: 2rem;
}
.podcast{
    margin-top: 1.5rem;
    /* font-style:italic; */
}
.podcast-genre{
    padding-bottom: 1.5rem;
}
.podcast-genre h1{
    margin-top: 2rem;
}
.podcast .podcast-description{
    padding: 0 1rem;
    font-size: 0.75rem;
}