body{
    background-attachment: fixed;
    background-image: radial-gradient(circle at 96% 96%,#0e283a,#0d1727 43%,#121212 73%);
}
/* body 1 */
.body-1{
  padding: 3rem 1rem 0 1rem;
}
.page-start {
  text-align: center;
  margin-top: 2rem;
}
.page-start .line-thick {
  margin: 1.5rem 0;
}

/* trending podcast */
.body-podcast {
  overflow: hidden;
  border-style: none;
}
.body-podcast img {
  width: calc(100% - 2rem);
  margin: 0 1rem;
}
.body-podcast .feature-podcast *{
  margin:0;
  margin-top: 0.75rem;
  padding: 0;
}
.body-podcast .feature-podcast iframe {
  width: 100%;
  height: 50px;
}
.body-podcast p {
  font-size: 0.75rem;
}
.body-podcast .title-podcast{
  display: flex;
  justify-content:space-between;
  margin-bottom: 0.5rem;
}
.body-podcast .title-podcast h1 {
  margin-bottom: 0;
}
.body-podcast .title-podcast p {
  margin: 0.5rem 0;
}

/* body 2 */
.podcast-genre{
    padding: 2rem 0;
}
.podcast-genre h1{
    margin: 1rem 0;
  }
  .podcast-genre p{
    color:var(--nl-color-text-light);
    margin: 0.5rem 0 0.75rem 0;
}

.podcast .podcast-description{
    padding: 0 1rem;
    font-size: 0.75rem;
    color:var(--nl-color-text-light);
}
.podcast-block{
  background-color: var(--nl-background-color-darker);
  /* background-color: var(--nl-color-secondary); */
  padding: 1rem;
}
.podcast-list{
  height: 190px;
}

/* desktop view 600px */
@media screen and (min-width: 600px) {
  /* body 1: feature podcast horizontally */
  .body-podcast{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 1rem 0;
  }
  .body-podcast .title-podcast{
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:center;
    text-align:end;
    /* feely margin, maybe move to 768 */
    margin-right:0.1rem;
    margin-bottom: 0;
  }
  .body-podcast .title-podcast h1{
    margin-top: 0;
  }
  .body-podcast a{
    width:50%;
  }
  .body-podcast .feature-podcast {
    width:50%;
  }
}

/* desktop view 768px */
@media screen and (min-width: 768px) {
  /* body 1: feature podcast adjustments */
  .body-podcast {
    margin: 0 1rem;
  }
  .body-podcast a{
    margin: 0 1rem;
  }
  .body-podcast .title-podcast{
    font-size: 1.32rem;
  }
  .body-podcast .title-podcast p{
    font-size: 1rem;
  }
}