:root {
  --nl-color-primary: #08a4bd;
  --nl-color-secondary: #00635d;
  --nl-color-tertiary: #446df6;
  /* --nl-color-quaternary: #1059a6; */
  --nl-color-quaternary: #eb5e28;
  --nl-color-quaternary2: #db5622;

  --nl-color-text: #dbd6d0;
  --nl-color-text-light: #bdbaac;
  --nl-color-text-hover: #f7f4e9;
  --nl-color-line: #55534f;

  --nl-background-color-darkest: #0d0e0f;
  --nl-background-color-darker: #191B1C;
  --nl-background-color-dark: #363535;
  --nl-background-color-medium: #5d5d5d;
  --nl-background-color-light: #ccc5b9;

  --nl-background-color-highlight: #0f0f0f;
}
html {
  font-size: 16px;
  background-color: var(--nl-background-color-darkest);
}
body {
  /* font-family: Helvetica, Arial, sans-serif; */
  background-color: var(--nl-background-color-darker);
  padding: 0;
  margin: 0;
  height:100%;
  overflow-x: hidden;
}
h1, h2, h3, p{
    color: var(--nl-color-text);
}
section {
    /* set max width, center elements */
    max-width: 1200px; 
    margin: 0 auto !important; 
    float: none !important; 
}

/* components */
.page-title {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  margin: 1rem 0;
}
h2 a, p a {
  text-decoration: none;
  color: inherit;
}

h1 a:hover, h2 a:hover, p a:hover {
  color: var(--nl-color-text-hover);
}

article{
  font-size: 1rem;
  /* font-family: Helvetica, sans-serif; */
  /* letter-spacing: .75px; */
}

.text-color{
  color: var(--nl-color-text-light);
}
.text-italic{
  font-style:italic;
}
.section-padding {
  padding: 0 1rem;
}
.highlight-section {
    margin:2rem 0;
    padding:1rem 0;
    background-image: radial-gradient(circle at 96% 96%,#0e283a,#0d1727 43%,#121212 73%);
}

.article-byline {
  font-size: 0.75rem;
  color: var(--nl-color-text-light);
}

/* divider line */
.line-thin {
  width: auto;
  height: 0px;
  border-bottom: 1px solid var(--nl-color-line);
  margin: 0.5rem 0;
}
.line-thick {
  width: auto;
  height: 0px;
  border-bottom: 3px solid var(--nl-color-quaternary);
  margin: 0.5rem 0;
}
/* cyan button */
.button-wrapper {
  display:flex;
  margin: 1rem 0;
  justify-content: center;
}
.button {
  color: var(--nl-color-text);
  background-color: var(--nl-color-primary);
  border: 0;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items:center;
  line-height: 1.25rem;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  /* max-width: 300px; */
  cursor: pointer;
  box-shadow: 2px 2px #666;
}
.button:active {
  color: var(--nl-color-text);
  background-color: var(--nl-color-secondary);
  transform: translateY(3px);
}
/* header */
header{
  height: auto;
  background-color: var(--nl-background-color-darker);
  padding: 0.75rem 0;
  margin-top:58px;
  transition:all 0.2s ease-in;

}
header section{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
/* header buttons */
header:hover{
  background-color: var(--nl-background-color-darkest);
  transition:all 0.2s ease-in;
}
header .icon{
  filter: invert(70%);
}
header .icon:hover{
  filter: invert(95%);
  transition:all 0.2s ease-in;
}
header .button-wrapper{
  margin: 0;
  box-shadow:none;
}
header .button{
  /* align button with input box */
  border-radius: 0 3px 3px 0;
  transform: translateX(1px) translateY(-0.5px);
  z-index: 5;
}

.logo {
    margin-left: -2px;
    width: 140px;
    filter: invert(100%) drop-shadow(2px 2px 2px rgb(66, 60, 58)) contrast(150%);
}
.logo-nav {
    margin-left: -2px;
    margin-right: -2px;
    filter: invert(100%) drop-shadow(2px 2px 2px rgb(66, 60, 58)) contrast(150%);
}
.logo-nav:hover {
  transition: all 0.1s ease-in;
    filter: invert(80%) drop-shadow(1px 1px 1px rgb(160, 150, 148)) contrast(150%);
}
.logo:hover {
    transition: all 0.1s ease-in;
    filter: invert(80%) drop-shadow(2px 2px 2px rgb(160, 150, 148)) contrast(150%);
}
/* header search box */
.search-box{
  overflow:hidden;
  /* transform:translate(310px); */
}

/* idea: style search bar to hide whitespace */
/* navbar */
.navbar > .container-fluid{
  /* limit nav items space to match side margins */
  max-width: 1192px; 
}
.navbar{
  background-color:var(--nl-background-color-darkest);
}

/* nav link hover effect */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--nl-color-text-hover);
  box-shadow: 0 3px 0
  var(--nl-color-quaternary);
  transition: all 0.2s ease-in;
}
/* default nav link text color */
.navbar-dark .navbar-nav .nav-link{
  color: var(--nl-color-text);
}
.navbar .active-color{
  box-shadow: 0 3px 0
  var(--nl-color-quaternary);
}
.navbar-toggler-icon{
  margin-right: -15px
}
.navbar-dark .navbar-toggler {
  border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
/* hide nav on scroll, adjust to nav height */
nav{
  transition: all 0.2s ease-in;
}
.hide-nav{
  transform: translateY(-60px);
  transition: all 0.4s ease-out;
}

.banner {
  width: 100%;
  object-fit: cover;
}

/* footer */
footer {
  border-top: 5px solid var(--nl-color-quaternary);
  background: var(--nl-background-color-darkest);
}
footer section {
  overflow: hidden;
  height: 20rem;
  padding: 50rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer section a {
  margin: 2rem 0;
}
footer section a .logo {
  width: 100%;
  max-width: 300px;
}
footer section div p {
  text-align: center;
  font-size: 0.75rem;
}
footer section div img {
  display:none;
  filter:invert(70%);
}
footer .links-media{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 0;
}
footer .links-media a{
  white-space: nowrap;
  text-decoration: none;
  margin: 1rem 0;
}
footer .links-media a img:hover{
  filter:invert(95%);
}
footer .newsletter{
  display:none;
}

@media screen and (min-width: 600px) {
  /* scale text */
  .content .content-title a{
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  /* scale text */
  .content .content-title a{
    font-size: 20px;
  }
  .article-byline{
    font-size: 14px;
  }
  .reg-articles .content{
    padding: 1rem;
  }
  .reg-articles .content-title{
    margin-bottom: 0.5rem;
  }
  .reg-articles .row-article .image-wrapper a img {
    aspect-ratio: 2/1;
  }

  /* expanded footer */
  footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem
  }
  footer div p{
    text-align: left;
  }
  footer .links-wrapper {
    width: 20%;
    flex-grow: 0.4;
  }
  footer .links-media a p{
    display: none;
  }
  footer .links-media a img{
    display:flex;
  }
  footer .links-media{
    justify-content: space-evenly;
  }
  footer .newsletter{
    display:initial;
  }
}