:root {
  --nl-color-primary: #08a4bd;
  --nl-color-secondary: #00635d;
  --nl-color-tertiary: #446df6;
  /* --nl-color-quaternary: #1059a6; */
  --nl-color-quaternary: #eb5e28;
  --nl-color-quaternary2: #db5622;

  --nl-color-text: #dbd6d0;
  --nl-color-text-light: #bdbaac;
  --nl-color-text-hover: #f7f4e9;
  --nl-color-line: #55534f;

  --nl-background-color-darkest: #0d0e0f;
  --nl-background-color-darker: #191B1C;
  --nl-background-color-dark: #363535;
  --nl-background-color-medium: #5d5d5d;
  --nl-background-color-light: #ccc5b9;

  --nl-background-color-highlight: #0f0f0f;
}
html {
  font-size: 16px;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--nl-background-color-darker);
  padding: 0;
  margin: 0;
  height:100%;
  overflow-x: hidden;
}
h1 {
    color: var(--nl-color-text);
}
section {
    /* set max width, center elements */
    max-width: 1080px; 
    margin: 0 auto !important; 
    float: none !important; 
}

/* components */
.page-title {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  margin: 1rem 0;
}
p {
  color: var(--nl-color-text);
}
p a {
  text-decoration: none;
  color: inherit;
}
p a:hover {
  color: var(--nl-color-text-hover);
}
article {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

.text-color{
    color: var(--nl-color-text-light);
}
.section-padding {
  padding: 0 1rem;
}
.highlight-section {
    margin:2rem 0;
    padding:1rem 0;
    /* background-image: radial-gradient(circle at 96% 96%,#1a0a23,#0d1727 43%,#121212 73%); */
    background-image: radial-gradient(circle at 96% 96%,#0e283a,#0d1727 43%,#121212 73%);

}
/* .highlight-section {
  overflow: hidden !important;
  margin: 0 -500%;
  padding: 0.5em 500%;
  background: var(--nl-background-color-darker);
} */
.article-byline {
  font-size: 0.75rem;
  color: var(--nl-color-text-light);
}

/* divider line */
.line-thin {
  width: auto;
  height: 0px;
  border-bottom: 1px solid var(--nl-color-line);
  margin: 0.5rem 0;
}
.line-thick {
  width: auto;
  height: 0px;
  border-bottom: 3px solid var(--nl-color-quaternary);
  margin: 0.5rem 0;
}

/* header */
header{
    background-color: var(--nl-color-quaternary);
}
.logo {
    width: 200px;
    filter: invert(100%) drop-shadow(2px 2px 2px rgb(66, 60, 58)) contrast(150%);
}
.logo:hover {
    transition: all 0.1s ease-in;
    filter: invert(80%) drop-shadow(2px 2px 2px rgb(160, 150, 148)) contrast(150%);
}
.navbar {
  background-color: var(--nl-background-color-darkest);
  padding-left: 5rem;
  padding-right: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 40px;
  width: 600px;
  padding: 0;
  margin: 0;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--nl-color-text);
  display: flex;
  justify-content: center;
  width: 100px;
}

.banner {
  width: 100%;
  object-fit: cover;
}

/* footer */
footer {
  border-top: 5px solid var(--nl-color-quaternary);
  background: var(--nl-background-color-darkest);
}
footer section {
  overflow: hidden;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer section a {
  margin: 2rem 0;
}
footer section a .logo {
  width: 100%;
  max-width: 300px;
}
footer section div p {
  text-align: center;
  font-size: 0.75rem;
}
